:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #5e57bc;
    --color-secondary: #19446d;
    --color-dark: #10470b;
    --color-bg: #042d0e;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }